@import url(./styles/style.css);

* {
    margin: 0;
    padding: 0;
}


html {
    height: 100%;
}

body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    height: auto;
    margin: -50px auto 0;
}

#header {
    padding-top: 50px;
}
.main {
    padding-top: 20px;
}


.navbar {
    margin: 0 auto;
    background: rgb(170, 70, 70);
    border-radius: 50px;
    box-shadow: 0 0 20px rgb(0 0 0 / 8%);
    max-width: 1296px;
    /* max-height: 65px; */
    align-items: center;
    padding: 5px 10px;
    align-items: center;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
}

.logo {
    max-width: 197px;
    max-height: 75px;
}

.btn {
    width: 175px;
    float: left;
}

.main {
    padding-top: 3%;
    margin: 0 auto;
    max-width: 1296px;
}

.intro {
    display: flex;
    font-family: 'Mont';
    text-align: center;
}


.cards {
    margin: 0 auto;
    width: 1296px;
    justify-content: space-between;
    display: flex;
    padding-top: 15px;
}

.card {
    border-style: none !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* Footer */

.footer {
    background: #3E3C6E;
}

.footer-container {
    max-width: 1296px;
    margin: 0 auto;
}

.footer__row {
    max-width: 1140px;
    padding: 20px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__left {
    max-width: 400px;
}

.footer__right {
    max-width: 500px;
}

.tel>a,
.tel>a:hover,
.mail,
.mail:hover {
    color: #fff;
    text-decoration: none;
}

.company__name {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 64px;
    color: #fff;
    font-family: 'Mont';
}

.aboutUs {
    margin-top: 20px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.15px;
    color: #fff;
}

.weOn {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.weOn--mobile {
    display: none;
}

.weOn__items {
    list-style-type: none;
    margin: 10px;
}

.weOn__item {
    color: #fff;
    text-decoration: none;
}





.right__items>h3 {
    color: #fff;
    font-size: 30px;
    font-family: 'Mont';

}

.right__items>a,
p {
    color: #fff;
    font-size: 24px;
    font-family: 'Mont';
    margin-top: 10px;
}

.right__items {
    margin-bottom: 20px;
}

.authority {
    font-family: "Mont";
    text-align: center;
    color: #fff;
    background-color: #000000;
}

.tel>a {
    color: #fff;
    font-size: 24px;
    font-family: 'Mont';
    margin-right: 60px;
}

/* Infopages HTML CSS */

.info-container {
    margin: 0 auto;
    max-width: 1296px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    border-radius: 50px;
}

.uperside {
    display: flex;
    flex-wrap: wrap;
}

.picture {
    max-width: auto;
    max-height: auto;
    background-color: transparent;
}


.head-text {
    margin-top: 20px;
    vertical-align: middle;
    max-width: 255px;
    margin-left: 15px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 61px;
    color: #000000;
}

.info-text {
    font-family: 'Mont';
    max-width: 596px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #7E7E7E;
}

.downside-text {
  
    color: #7E7E7E;
    font-size: 16px;
    font-family: 'Mont';
    padding-bottom: 2%;
    padding-left: 2%;
  }
  .downside-text-bolder {
    margin: 0 auto;
    font-family: 'Mont';
    color: #424242;
    font-size: 16px;
  }

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }


/* Sertificates */

.ser-link{
    text-decoration: none;
    color:#737373;
    padding-top: 2.3%;
}

.ser-link:hover{
    color: #4C4C4C;
}

.sertificate-window{
    max-width: 1200px;
    margin: 0 auto;
}

.sertificate-window-op{
    padding-bottom: 5%;
}

.sertificate-text{
    color: #3E3C6E;
    font-family: 'Mont';
    text-align: center;
}

.sertificate-link{
    font-size: 20px;
    text-decoration: none;
    color: #3E3C6E;
    font-family: 'Mont';
}

.sertificate-text-mobile{
    display: none;
}

.sertificate-link-mobile{
    display: none;
}